
<div class="container">
    <h1><%= title %></h1>
    <ul class="nav nav-tabs paging-controls-view"></ul> <!-- Note: this will get attached -->
    <div class="user-messages-view row"></div> <!-- Note: this will get attached -->
    <div class="controller-controls-view-container row"></div>
    <div class="controller-view-container row"></div>
</div>