@charset "utf-8";
/* CSS Document */
    *{
        -webkit-transition: background-color 1s ease;
        -moz-transition: background-color 1s ease;
        transition: background-color 1s ease;
    }
    html, body{
        margin:0px;
        padding:0px;
    }
    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #383838;
        background: #f5f5f5;
    }
    ol, ul, li, a, p{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a, a:hover, a:focus {
        cursor: pointer;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        text-decoration: none;
        outline: none;
    }
    a,
    a:hover,
    a:focus,
    a:active,
    a.active {
        outline: 0;
    }
